@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input:not([type='checkbox']),
button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/bg.jpg);
    background-size: cover;
}

form {
    display: block;
    position: relative;
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px 30px 20px 30px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

form .form-inner h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

form .form-inner .form-text-input-group {
    display: flex;
    align-items: center;
    width: 275px;
    background-color: #f0efef;
    margin-bottom: 10px;
    padding: 12px 15px;
}

.form-inner .form-text-input-group input {
    padding-inline-start: 10px;
    display: block;
    width: 100%;
}

.form-inner .form-text-input-group .form-input-icon {
    color: gray;
    font-size: medium;
}

/* .form-inner .form-text-input-group input:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
} */

.form-inner input[type="submit"] {
    display: inline-block;
    width: 100%;
    padding: 12px 15px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #d73d6b 50%, #d73d6b 50%, #FECE00);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.form-inner input[type="submit"]:hover {
    background-position: 100% 0%;
}

.form-signup-sites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.signup-bt {
    display: inline-flex;
    border: 1.3px solid rgb(223, 223, 223);
    align-items: center;
    justify-content: center;
    width: 49%;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    font-size: 12px;
    font-weight: bold;
}

.form-signup-group h6 {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-top: 24px;
    text-align: center;
}

.signup-icon,
.signup-bt img {
    margin-right: 4px;
}

.signup-bt {
    transition: 0.4s;
}

.signup-bt img {
    padding: 3px 0px 3px 0px;
}

.signup-bt:hover {
    background-color: #f0efef;
}

.action-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    font-size: 10px;
    color: #888;
}

.action-signup a:visited {
    color: #888;
    text-decoration: none;
    font-weight: bold;
}

.form-remember-me {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 4px 0px 24px 0px;
}

.form-remember-me input[type="checkbox"] {
    margin-right: 8px;
    size: 4px 4px;
}

.form-remember-me label {
    font-size: small;
    color: #888;
}

.link-signup {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}